{
    "presets": ["@babel/preset-env", "@babel/preset-typescript", "@babel/preset-react"],
    "plugins": [
        ["i18next-extract", {
            "outputPath": "locales/{{locale}}/{{ns}}.json"
        }]
    ]
}