.tooltip-container {
    display: inline-block;
}
.tooltip {
    background-color: white;
    z-index: 10;
    min-width: 15rem;
    max-width: 25rem;
    display: inline-block;
    padding: $size-7;
    opacity: 0;
    transition: opacity 0.2s, transform 0.1s;
    transform: translateY(-10px);
    pointer-events: none;
}
.dropdown.is-active .tooltip {
    opacity: 1;
    transform: translateY(0);
    pointer-events: none;
}

.version {
    margin-top: 1.5rem;
    color: rgba(255, 255, 255, 0.3);
    font-size: 0.8em;
}

.pagination-container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    margin-bottom: $block-spacing;
    align-items: center;
}

// Full size
html, body {
    height: 100%;
}
#app {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.has-background-dark {
    .menu-label {
        color: #648195;
        font-weight: bold;
        margin-bottom: 0;
        font-size: 1em;
    }
    .menu-list a:not(:hover) {
        color: white;
    }
    .menu-list p {
        padding: 0.5em 0.75em;
        color: #465b71;
    }
}

.account-link, .transaction-link {
    & > span {
        color: #999;
    }
    &:hover > span {
        color: $dark;
    }
}

/*
 * Sidebar and header
 */
.has-text-primary-light {
    color: #b6e8dd  !important;
}

.mobile-header {
    height: 50px;
    display: none;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    padding: 0 1rem;
    z-index: 2000;

    .logo {
        height: 100%;
        & img {
            height: 100%;
        }
    }
    .navbar-burger {
        display: block;
        height: 50px;
        width: 50px;
        & > span {
            background-color: white !important;
        }
    }
}

.sidebar {
    .logo {
        margin: 1rem 3rem 1rem 1rem;
    }
}

@media screen and (max-width: 1800px){
    .sidebar {
        display: block;
        transform: translateX(-300px);
        transition: transform 0.2s;
        &.shown {
            transform: translateX(0);
        }
        .logo {
            display: none;
        }
        top: 50px;
        height: calc(100% - 50px);
        z-index: 2000;
        position: fixed;
        overflow-y: auto;
    }
    .mobile-header {
        display: flex;
    }
    .mobile-header-spacing {
        height: 50px;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 0.8rem;
    }
}