.tooltip-container {
    position: relative;
    display: inline-block;

    .tooltip {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        background-color: white;
        z-index: 10;
        min-width: 15rem;
        padding: $size-7;
    }
    &:hover .tooltip {
        display: block;
    }
}

.pagination-container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    margin-bottom: $block-spacing;
    align-items: center;
}

// Full size
html, body {
    height: 100%;
}
#app {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.has-background-dark {
    .menu-label {
        color: #648195;
        font-weight: bold;
        margin-bottom: 0;
        font-size: 1em;
    }
    .menu-list a:not(:hover) {
        color: white;
    }
    .menu-list p {
        padding: 0.5em 0.75em;
        color: #465b71;
    }
}

.has-text-primary-light {
    color: #b6e8dd  !important;
}

.account-link, .transaction-link {
    & > span {
        color: #999;
    }
    &:hover > span {
        color: $dark;
    }
}