.dropdown.is-fullwidth {
    display: flex;
  
    .dropdown-trigger,
    .dropdown-menu {
      width: 100%;
    }

    .dropdown-trigger .button {
        width: 100%;
        text-align: left;
        justify-content: space-between;
    }
  }