.dropdown.is-fullwidth {
    display: flex;
  
    .dropdown-trigger,
    .dropdown-menu {
        width: 100%;
    }

    .dropdown-trigger {
        display: flex;
    }

    .dropdown-trigger .button {
        text-align: left;
        justify-content: space-between;

        &:first-child {
            flex-shrink: 0;
            flex-grow: 1;
        }
        &:not(:last-child) {
            border-bottom-right-radius: 0;
            border-top-right-radius: 0;
        }
        &:not(:first-child) {
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
            border-left: 0;
        }
    }
}

.tooltip-container {
    position: relative;
    display: inline-block;

    .tooltip {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        display: none;
        background-color: white;
        z-index: 10;
    }
    &:hover .tooltip {
        display: block;
    }
}

.pagination-container {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: space-between;
    margin-bottom: $block-spacing;
    align-items: center;
}

// Full size
html, body {
    height: 100%;
}
#app {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.has-background-dark {
    .menu-label {
        color: #648195;
        font-weight: bold;
        margin-bottom: 0;
        font-size: 1em;
    }
    .menu-list a:not(:hover) {
        color: white;
    }
    .menu-list p {
        padding: 0.5em 0.75em;
        color: #465b71;
    }
}

.has-text-primary-light {
    color: #b6e8dd  !important;
}

.number-total, table td.number-total {
    font-weight: bold;
    text-align: right;
    color: black;
    &.positive {
        color: #27ae60;
    }
    &.negative {
        color: #e74c3c;
    }
}

table tr.editing td {
    vertical-align: middle;
}
.icon.button {
    border: 0;
    background-color: transparent;
    color: $dark;
    &:hover {
        color: $link;
    }
}